body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	box-sizing: border-box;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #484848;
}

footer .footer-content {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
